html,body{
    height: 100%;
}

body {
    background-color: #dadada;
    font-family: Arial;
    margin:0;
    padding: 0;
    color: #FFF;
}
nav {
    background-color: #444f55;
    color: #FFF;
    top: 0;
    width: 100%;
    position: absolute;
    margin-bottom: 1em;

}

footer {
    background-color: #444f55;
    position: absolute;
    width: 100%;

}

.fjelloverganger {
    margin-top: 5em;
}
.footer-liste {
    list-style-type: none;
}

.footer-listeelement {
    display: inline-block;

}

.footer-img {
    height: 50px;
}


.vei-liste {
    list-style-type: none;
}

.vei {
    margin: 10px;
    background-color: #444f55;
}

.vei:hover {
    cursor: pointer;
}

#veinavn:hover {
    color: #ed9300;
}

.fjellovergang {
    list-style-type: none;
    padding: 1em;
}

.værTabell {
   margin: 1em;
   padding: 1em;
}

.tabellOverskrift {
}

.tabellKategori {
    font-size: small;
    background-color: #008ec2;

}

.tabellData {

}
.skjulKnapp {
    background-color: orange; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.visLangtidsVarselKnapp {
    background-color: lightblue; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.visLangtidsVarselKnapp:hover {
    color:black;
    background-color: aliceblue;
}

.skjulKnapp:hover {
    color:black;
    background-color: aliceblue;
}


